.dice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.dice-face {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color:cyan;
}