.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: transparent;
    border-radius: 8px;
    padding: 20px;
    margin-left: 56px;
    position: relative;
    width: 353px;
    max-height: 528px;
    /* width: 90%; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: rotate(90ged);
    background-image: url('../../assets/diary_page.png');
    background-size: cover;
}

.modal-close {
    color: black;
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}